{% extends 'IlyasseBlogBundle::layout.html.twig' %}

{% block title %}
    About - {{ parent() }}
{% endblock %}

{% block blog_body %}
    <h2>About Us</h2>
    <p>This Blog is created By Ilyasse Fadil.</p>
    <p>Feel free to download, copy and edit.</p>
{% endblock %}


